html, body {
  height: inherit;
}

.contact {
  width: 320px;
  left:50%;
  margin-left:-160px;
  top: 40pt;
  position: fixed;
  text-align: center;
}

nav {
  text-align: center;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

nav.footer {
  bottom: 40pt;
  top: auto;
}
