html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.gallery .photo {
  display: inline;
  overflow: inherit;
}

 .gallery {
  height: 100% !important;
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
  z-index: 0;
  width: auto;
  white-space: nowrap;
  padding: 0 0 0 0;
}

.gallery img {
  max-height:100%;
}


.gallery .photo {
  transform: scale(0.95);
}

.gallery li:nth-child(1) {
  transform: scale(0.6);
  transform-origin-y: 40%;
}

.gallery li:nth-child(2) {
  transform: scale(0.9);
}

.gallery li:nth-child(3) {
  transform: scale(0.4);
  transform-origin-y: 80%;
}

.gallery li:nth-child(4) {
  transform: scale(0.7);
}
