html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

nav {
  position: fixed;
  top: 40pt;
  left: 50pt;
  z-index: 2;
}

.wf-loading nav li {
  font-size: 15px;
  font-weight: 400;
}

.wf-loading nav {
  top: 39pt;
}

.footer {
  position: absolute;
  bottom: 40pt;
  left: 50pt;
  z-index: 2;
}

.footer.title h2 {
  color: #A49C9B;
  font-family: "century-old-style-std", serif;
  font-weight: 400;
  line-height: 13px;
  font-style: italic;
  font-size: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 16px;
  font-family: "nimbus-sans",Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 22px;
}

a {
  -webkit-appearance:none;
  text-decoration: none;
  color: black;
}

a:hover {
  font-family: "century-old-style-std", serif;
  font-weight: 400;
  line-height: 0px;
  font-style: italic;
}

p {
  font-size: 16px;
}

.gallery .photo {
  display: inline;
}

.image-wrapper {
  display: inline;
  position: relative;
  overflow: hidden;
}

 .gallery {
  height: 100% !important;
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  z-index: 0;
  width: auto;
  white-space: nowrap;
}

.gallery img {
  max-height:100%;
  display: inline-block;
  height: 100%;
  min-height: 300px;
}

/* =============

 Gallery image positions

 ============= */

.gallery li:nth-child(1) {
  margin-left: 10%;
}

.gallery li:nth-child(1) img {
  transform: scale(0.6);
  transform-origin-y: 40%;
}

.gallery li:nth-child(2) img {
  transform: scale(0.9);
}

.gallery li:nth-child(3) img {
  transform: scale(0.4);
  transform-origin-y: 80%;
}

.gallery li:nth-child(4) img {
  transform: scale(0.7);
}

.gallery li:nth-child(5) img {
  transform: scale(0.9);
}

/* =============

 About page

 ============= */

 .about .contact {
   text-align: center;
   top: 40pt;
 }

 .about .footer {
   text-align: center;
   left: 50% !important;
   width: 300px;
   margin-left: -150px;
 }

 /* =============

  Home page

  ============= */

 .home .footer {
   right: 50pt;
   left: auto;
 }
