body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
}

nav {
  position: fixed;
  top: 40pt;
  left: 50pt;
  z-index: 2;
}

.wf-loading nav li {
  font-size: 15px;
  font-weight: 400;
}

.wf-loading nav {
  top: 39pt;
}

.footer {
  position: absolute;
  bottom: 40pt;
  left: 50pt;
  z-index: 2;
}

.footer.title h2 {
  color: #A49C9B;
  font-family: "century-old-style-std", serif;
  font-weight: 400;
  line-height: 13px;
  font-style: italic;
  font-size: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 16px;
  font-family: "nimbus-sans",Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 22px;
}

a {
  -webkit-appearance:none;
  text-decoration: none;
  color: black;
}

a:hover {
  font-family: "century-old-style-std", serif;
  font-weight: 400;
  line-height: 0px;
  font-style: italic;
}

li.active {
  font-family: "century-old-style-std", serif;
  font-weight: 400;
  /*line-height: 0px;*/
  font-style: italic;
  margin-top: -3px;
  padding-bottom: 3px;
}

p {
  font-size: 16px;
}

.gallery .photo {
  display: inline;
}

.image-wrapper {
  display: inline;
  position: relative;
  overflow: hidden;
}

 .gallery {
  height: 100%;
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  z-index: 0;
  width: auto;
  white-space: nowrap;
}

.gallery img {
  max-height:100%;
  display: inline-block;
  height: 100%;
  min-height: 300px;
}

/* =============

 Various Works
 sizes and positions

 ============= */

.gallery li:nth-child(1) {
  margin-left: 20%;
}



.various-works .gallery img.bigsur {
  transform: scale(0.8);
}

.various-works .gallery img.brian {
  transform: scale(0.9);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.studio {
  transform: scale(0.65);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.icecaves {
  transform: scale(0.9);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.brastrap {
  transform: scale(.30);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.suck {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.met {
  transform: scale(0.55);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.bedroom {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.dancer {
  transform: scale(0.85);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.lagirl {
  transform: scale(0.8);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.shadow {
  transform: scale(0.40);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.ira {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.marfa {
  transform: scale(0.6);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.kris {
  transform: scale(0.55);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.butt {
  transform: scale(0.8);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.flowers {
  transform: scale(0.60);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.eye {
  transform: scale(0.75);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.felix {
  transform: scale(0.8);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.jay {
  transform: scale(0.50);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.hand {
  transform: scale(0.9);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.trey {
  transform: scale(0.8);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.shelf {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}
.various-works .gallery img.umbrella {
  transform: scale(0.5);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.adrian {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.brian-2 {
  transform: scale(0.8);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.flowerbox {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.handshake {
  transform: scale(0.5);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.desk {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.matilda {
  transform: scale(0.9);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.furniture {
  transform: scale(0.4);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.ben {
  transform: scale(0.75);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.ben-shelf {
  transform: scale(0.6);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.mystery {
  transform: scale(0.5);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.dazed {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.forest {
  transform: scale(0.8);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.tit {
  transform: scale(0.5);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.desert {
  transform: scale(0.8);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.jay-butt {
  transform: scale(0.5);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.glass-shelf {
  transform: scale(0.40);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.tereza {
  transform: scale(0.7);
  /*transform-origin-y: 0%;*/
}

.various-works .gallery img.bush {
  transform: scale(0.6);
  /*transform-origin-y: 0%;*/
}

/* =============

 Home (ongoing)
 sizes and positions

 ============= */

 .home .gallery img.sunset {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.jeremy-shirt {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.window {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.melon {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.powerlines {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.backyard {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.flowers {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.jermey-face {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.drapes {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.hands {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.bears {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.weeds {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.melonseeds {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.haileybutt {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.nick {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.armwrestle {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .home .gallery img.fork {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }


/* =============

 Akumal
 sizes and positions

 ============= */

 .akumal .gallery img.plant {
   transform: scale(0.9);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.rocks {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.shadow {
   transform: scale(0.8);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.stairs {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.chairs {
   transform: scale(0.5);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.powerlines {
   transform: scale(0.6);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.mirror {
   transform: scale(0.4);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.shower {
   transform: scale(0.6);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.tit {
   transform: scale(0.7);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.beach {
   transform: scale(0.8);
   /*transform-origin-y: 0%;*/
 }

 .akumal .gallery img.switch {
   transform: scale(0.6);
   /*transform-origin-y: 0%;*/
 }


/* =============

 About page

 ============= */

 .about .contact {
   text-align: center;
   top: 40pt;
 }

 .about .footer {
   text-align: center;
   left: 50% !important;
   width: 300px;
   margin-left: -150px;
 }

 /* =============

  Home page

  ============= */

 .home .footer {
   right: 50pt;
   left: auto;
 }
