html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

.nimbus {
  font-family: "nimbus-sans",sans-serif;
}

.nimbus-extended {
  font-family: "nimbus-sans-extended",sans-serif;
}

.italic {
  font-family: "century-old-style-std",serif;
  font-style: italic;
  font-weight: 400;
}

nav {
  position: fixed;
  top: 40pt;
  left: 40pt;
  z-index: 2;
}

.footer {
  position: absolute;;
  bottom: 40pt;
  left: 40pt;
  z-index: 2;
}

.footer li {
  color: rgba(0,0,0,0.5);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 16px;
}

a {
  -webkit-appearance:none;
  text-decoration: none;
  color: black;
}

a:hover {
  font-family: "century-old-style-std",serif;
  font-weight: 400;
  line-height: 13px;
  font-style: italic;
}

p {
  font-size: 16px;
}

.gallery .photo {
  display: inline;
}

.image-inside {
  display: inline;
}

.image-wrapper {
  display: inline;
  position: relative;
  overflow: hidden;
}

 .gallery {
  height: 100% !important;
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  z-index: 0;
  width: auto;
  white-space: nowrap;
  padding: 0 0 0 0;
}

.gallery img {
  max-height:100%;
  display: inline-block;
  height: 100%;
}

/* =============

 Gallery image positions

 ============= */

.gallery li.photo {
  transform: scale(0.95);
}

.gallery li:nth-child(1) {
  margin-left: 30%;
}

.gallery li:nth-child(1) img {
  transform: scale(0.6);
  transform-origin-y: 40%;
}

.gallery li:nth-child(2) img {
  transform: scale(0.9);
}

.gallery li:nth-child(3) img {
  transform: scale(0.4);
  transform-origin-y: 80%;
}

.gallery li:nth-child(4) img {
  transform: scale(0.7);
}

/* =============

 About page

 ============= */

 .about .contact {
   text-align: center;
   top: 40px;
 }
